.layout-header-background {
  background-color: #fff;
  > span {
    display: inline-block;
    font-size: 18px;
  }
  > .header-title {
    margin-left: 20px;
    display: inline-block;
    font-size: 28px;
    line-height: 64px;
    font-weight: bold;
  }
  > .header-user {
    padding: 0 10px;
    float: right;
    vertical-align: top;
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, 0.045);
    }
    .header-user-name {
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
.router-content {
  height: 100%;
  min-height: 100%;
  background-color: #fff;
}
.sider-logo {
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
