.layout-header-background {
  background-color: #fff;
  > span {
    display: inline-block;
    font-size: 18px;
  }
  > div {
    margin-left: 20px;
    display: inline-block;
    font-size: 28px;
    line-height: 64px;
    font-weight: bold;
  }
}
.router-content {
  height: 100%;
  background-color: #fff;
}
